DB_NAME=your_db_name
MONGO_DB_URI=your_mongo_db_url

APP_PORT=your_port
REDIS=you_redis_url:host

MAIL=your_mail
APP_PASSWORD=your_app_passowrd_for_email

JWT_SECRET_KEY=your_secret_key_for_refreshToken
JWT_REFRESH_KEY=accessToken

ORIGIN=your_front_end_url_for_cors